[Desktop Entry]
Name=Slune
Comment=A 3D action car game
Comment[pl]=Samochodowa gra akcji 3D
Exec=slune
Icon=Slune
Terminal=false
Type=Application
Categories=Game;ActionGame;
# vi: encoding=utf-8
